<header class="header">
  <mat-icon [svgIcon]="'logoIcon'" class="logo__icon"></mat-icon>

  <app-header-search></app-header-search>
  <mat-icon [svgIcon]="'settingsIcon'" class="settings__icon" (click)="settingsShown()"></mat-icon>

  <div class="auth">
    <ng-container *ngIf="(userName$ | async) === ''; else userName">
      <span class="auth__name">Your Name</span>
    </ng-container>

    <mat-icon [svgIcon]="'authIcon'" class="auth__icon"></mat-icon>
    <app-button (click)="logInApp()">{{ logIn }}</app-button>
    <app-button (click)="logOutApp()">{{ logOut }}</app-button>
  </div>
</header>
<ng-container *ngIf="isSettingsShown">
  <span class="line"></span>
  <app-header-search-settings></app-header-search-settings>
</ng-container>

<ng-template #userName>
  <span class="auth__name">{{ userName$ | async }}</span>
</ng-template>
