$white: #ffffff;
$black: #000000;
$block-background: #e5e5e5;
$text-primary: #4f4f4f;
$text-secondary: #929292;
$text-tertiary: #828282;
$input-background: #efefef;
$background: #d9d8d8;
$blue-color: #2f80ed;
$block-shadow: rgba(0, 0, 0, 0.25);
