.results {
  width: 1200px;
  padding: 30px 28px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  column-gap: 28px;
  row-gap: 29px;
  align-self: stretch;
}
