@import 'colors';

.search-input {
  width: 396px;
  height: 24px;
  background-color: $input-background;
  padding: 0 0 0 5px;
  border: none;

  &:focus-visible {
    outline: none;
  }

  &::placeholder {
    color: $text-secondary;
  }
}
